__pycache__/
*.py[cod]
*.pyo
backend/Venv/
backend/venv/
venv/
.env
backend/.env
frontend/.env
*.db
*.sqlite
*.sqlite3
backend/uploads/
frontend/node_modules/
frontend/dist/
.vscode/
.idea/
.DS_Store
Thumbs.db
